*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: hsl(0, 0%, 98%);
    color: #6666;
    font-size: 17px;
    overflow-x: hidden;
}

.main{
    font-family: 'Poppins', sans-serif;
    display: grid;
    margin: auto;
    width: 375px;
}



p{
    line-height: 1.3;
    font-size: 15px;
}



.top{
    margin: auto;
    width: 300px;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    
}

.reliable{
    color:hsl(229, 6%, 66%) ;
    font-weight: 200;
    text-align: center;
}

.power{
    color: hsl(234, 12%, 34%);
    font-weight: 600;
    font-size: 26px;
    text-align: center;
}

.up{
    text-align: center;
    width: auto;

}

h3{
    font-weight:400;
    color: hsl(234, 12%, 34%);
}



.bottom-wrapper{
    display: grid;
    grid-gap: 2rem;
    margin: auto;
    width: 300px;
}


.bottom{
    background-color: hsl(0, 0%, 98%);
    gap: 2rem;

}

.two{
    padding-bottom: 20px;
    padding-top: 20px;
    display: grid;
    grid-gap: 2rem;
}





.surpervisor{
    position: relative;
    border-top: 4px solid hsl(212, 86%, 64%);
    padding: 20px;
    border-radius: 6px ;
    box-shadow:2px 2px 10px rgb(202 202 202);
    width: 300px;
    height: auto;

}

.team{
    border-top: 4px solid hsl(0, 78%, 62%);
    position: relative;
    border-radius: 6px ;
    box-shadow:2px 2px 10px rgb(202 202 202);
    padding: 20px;
    gap: 2rem;
    width: 300px;
    height: auto;

}

.karma{
    border-top: 4px solid  hsl(34, 97%, 64%);
    position: relative;
    border-radius: 6px ;
    box-shadow:2px 2px 10px rgb(202 202 202);
    padding: 20px;
    width: 300px;
    height: auto;

}

.image{
    margin-top: 6rem;
    text-align: right;
}

.calculator{
    border-top: 4px solid hsl(212, 86%, 64%);
    position: relative;
    border-radius: 6px ;
    box-shadow:2px 2px 10px rgb(202 202 202);
    padding: 20px;
    width: 300px;
    height: auto;

}



@media (min-width:1440px){
.bottom{
    display: flex;
    align-items: center;
    background-color: hsl(0, 0%, 98%);
    gap: 2rem;

}
    .bottom-wrapper{
        margin: auto;
        width: 100%;
    }
    .main{
        width: 100%;
        justify-content: center;
    }

}
